.bundadequeijo{
    width: 100%;
    margin-top: 4%;
    border-radius: 10%;
}
.hispotomo{
    text-shadow: 2px 2px 4px black;  
}
body{
    background-image: url(../img/Backgorund/imagem\ de\ fundo.jfif)
}
