.bundadequeijo{
    width: 100%;
    margin-top: 4%;
    border-radius: 10%;
}
.hispotomo{
    text-shadow: 4px 4px 8px black;  
}
body{
    background-image: url(../img/Backgorund/imagem\ de\ fundo.jfif)
}
.img-pequena{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 800px) {
    .frederico{
        width: 100%;
        width: 20rem;
    }
}
.a{
    padding-bottom: 5%;
    text-align: center;
    font-size: x-large;
}
footer{
    text-align: center;
    background-color: rgba(0, 255, 255, 0.268);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 3px solid #73AD21;
}
.aaa{
    padding-bottom: 5%;
}